.product__title > h5{ 
    text-align: center;
    justify-content: center;
    align-items: center;
}
.product{
    padding: 20px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}
.product__row{
    width: 100%;
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}

